.dashboard-containter {
    padding: 2.5%; 
    }

.item-card {
    max-height: 300px;
    max-width: 600px;
  }

.item-image {
    height: 100px;
    width: 100px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.example-full-width {
    width: 100%;
}

.table-container {
    width: 100%; 
  }
  
tr.mat-footer-row {
    font-weight: bold;
}

/* .first-row-stored { */
   /* max-width: 250px; */


@media (min-width: 767px) {
    .first-row-stored {
        width: 400px;
        text-align: left;
        overflow: hidden;
        
    }

    .second-row-stored {
        /* width: 100px; */
        text-align: right;
        padding-right: 5%;
    }

    .third-row-stored {
        /* width: 80px; */
        text-align: center;
        border-right: 5%;
    }

    .fourth-row-stored {
        /* width: 80px; */
        text-align: right;
        /* padding-right: 5%; */
    }
    
    .fifth-row-stored {
        /* width: 80px; */
        text-align: right;
        /* padding-right: 5%; */
    }
}

@media (min-width: 1920px) {
    .first-row-stored {
        width: 750px;
        text-align: left;
        overflow: hidden;
    }

    .second-row-stored {
        /* width: 100px; */
        text-align: right;
        padding-right: 5%;
    }

    .third-row-stored {
        /* width: 80px; */
        text-align: center;
        border-right: 5%;
    }

    .fourth-row-stored {
        /* width: 80px; */
        text-align: right;
        /* padding-right: 5%; */
    }

    .fifth-row-stored {
        /* width: 80px; */
        text-align: right;
        /* padding-right: 5%; */
    }
}

@media (max-width: 767px) {
    .first-row-stored {
        width: 150px;
        text-align: left;
        overflow: hidden;
        font-size: 13px;
    }

    .second-row-stored {
        /* width: 100px; */
        text-align: right;
        padding-right: 5%;
        font-size: 13px;
    }

    .third-row-stored {
        /* width: 80px; */
        text-align: center;
        border-right: 5%;
        font-size: 13px;
    }

    .fourth-row-stored {
        /* width: 80px; */
        text-align: right;
        font-size: 13px;
        /* padding-right: 5%; */
    }

    .fifth-row-stored {
        /* width: 80px; */
        text-align: right;
        font-size: 13px;
        /* padding-right: 5%; */
    }
}