<div class="row dashboard-containter">
    <div class="col-sm-12">
        <div class="row">
            <form class="example-form col-sm-6">
                <mat-form-field class="example-full-width">
                    <input type="text" placeholder="Write a product name" aria-label="Number" matInput (keyup)="applyFilter($event.target.value)">
                </mat-form-field>
            </form>
            <mat-form-field class="col-sm-3">
                <mat-select placeholder="Categories">
                    <mat-option *ngFor="let category of categories" (click)="addCategoryToFilter(category.id)" [value]="category.id">
                        {{category.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="col-sm-3">
                <mat-select placeholder="Subcategories">
                    <mat-option *ngFor="let subcategory of subcategories" (click)="addSubCategoryToFilter(subcategory.id)" [value]="subcategory.id">
                        {{subcategory.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>  
        </div>
    </div>
    <div class="col-sm">
        <!-- <div *ngIf="noArticles()" >
            <mat-spinner></mat-spinner>
        </div> -->
        <mat-list>
            <h3 mat-subheader>Articles to buy:</h3>
            <div class="table-container">
                <table mat-table [dataSource]="allArticles" >
                    <ng-container matColumnDef="item">
                        <th class="first-row-stored" mat-header-cell *matHeaderCellDef> Article </th>
                        <td mat-cell *matCellDef="let article"> 
                            <button class="first-row-stored" mat-button (click)="openDialog(article)">{{article.name}}</button>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <ng-container matColumnDef="price">
                        <th class="second-row-stored" mat-header-cell *matHeaderCellDef> Unit Price </th>
                        <td class="second-row-stored" mat-cell *matCellDef="let article"> {{article.price | currency: '€'}} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <ng-container matColumnDef="units">
                        <th class="third-row-stored" mat-header-cell *matHeaderCellDef> Units </th>
                        <td class="third-row-stored" mat-cell *matCellDef="let article">
                            <input type="number" min="1" matInput [(ngModel)]="totalOfUnits[article.id]" placeholder="1" value="1">
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <ng-container matColumnDef="add">
                        <th class="fourth-row-stored" mat-header-cell *matHeaderCellDef> Add to List </th>
                        <td class="fourth-row-stored" mat-cell *matCellDef="let article">
                            <button mat-button color="primary" (click)="addArticle(article)">
                                <mat-icon mat-list-icon>add_shopping_cart</mat-icon>
                            </button>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="storedArticlesColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: storedArticlesColumns;"></tr>
                    <tr mat-footer-row *matFooterRowDef="storedArticlesColumns"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
            </div>
        </mat-list>
    </div>
    <div class="col-sm">
        <mat-list>
            <h3 mat-subheader>My List:</h3>
            <div class="table-container">
                <table mat-table [dataSource]="cartArticles">
                    <ng-container matColumnDef="item">
                        <th class="first-row-stored" mat-header-cell *matHeaderCellDef> Item </th>
                        <td class="first-row-stored" mat-cell *matCellDef="let article"> {{article[0].name}} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <ng-container matColumnDef="cost">
                        <th class="second-row-stored" mat-header-cell *matHeaderCellDef> Cost </th>
                        <td class="second-row-stored" mat-cell *matCellDef="let article"> {{article[0].price | currency: '€'}} </td>
                        <td mat-footer-cell *matFooterCellDef>Total</td>
                    </ng-container>
                    <ng-container matColumnDef="units">
                        <th class="third-row-stored" mat-header-cell *matHeaderCellDef> Units </th>
                        <td class="third-row-stored" mat-cell *matCellDef="let article">
                            <input type="number"  min="1" matInput [(ngModel)]="unitsToRemove[article[0].id]" max={{article[1]}} placeholder={{article[1]}} value={{article[1]}}>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <ng-container matColumnDef="total">
                        <th class="fourth-row-stored" mat-header-cell *matHeaderCellDef> Total </th>
                        <td class="fourth-row-stored" mat-cell *matCellDef="let article"> {{article[0].price * article[1] | currency: '€'}} </td>
                        <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency: '€'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="remove">
                        <th class="fifth-row-stored" mat-header-cell *matHeaderCellDef> Remove from List </th>
                        <td class="fifth-row-stored" mat-cell *matCellDef="let article">
                            <button mat-button color="primary" (click)="removeArticle(article[0])">
                                <mat-icon mat-list-icon>remove_shopping_cart</mat-icon>
                            </button>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="listColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: listColumns;"></tr>
                    <tr mat-footer-row *matFooterRowDef="listColumns"></tr>
                </table>
            </div>
            <mat-divider></mat-divider>
        </mat-list>
    </div> 
</div>


 


   

  

