<h2 mat-dialog-title>Article details:</h2>
<mat-dialog-content>
    <mat-card>
        <mat-card-title>{{data.name}}</mat-card-title>
        <mat-card-subtitle><b>Price: </b>{{data.price}} €</mat-card-subtitle>
        <mat-card-subtitle><b>Format: </b>{{data.format}}</mat-card-subtitle>
        <img class="row product-image" mat-card-image src={{data.image}}>
        <a class="row" target="_blank" rel="noopener noreferrer" href="https://www.carrefour.es{{data.url}}">Visit the website</a>
    </mat-card> 
</mat-dialog-content>







