.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}

.product-image {
    margin-top: 2px !important;
    max-width: 250px;
    max-height: 250px;
}

.modal-content  {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important; 
}
