<div class="modal-content">
    <mat-dialog-content class="m-2">
        <mat-card>
            <mat-card-title class="title">{{data.name}}:</mat-card-title>
            <mat-divider></mat-divider>
            <div class="row">
                <div class="col-md-6">
                    <img class="row product-image" mat-card-image src={{data.image}}>
                    <a class="row" target="_blank" rel="noopener noreferrer" href="https://www.carrefour.es{{data.url}}">Visit the website</a>
                </div>
                <div class="col-md-6">
                    <mat-card-subtitle><b>Price: </b>{{data.price}} €</mat-card-subtitle>
                    <mat-card-subtitle><b>Format: </b>{{data.format}}</mat-card-subtitle>
                </div>
            </div>
        </mat-card> 
    </mat-dialog-content>
</div>