<div class="customized-text">
    <p>This is a personal project with wich I want to learn about different technologies. It has no commercial interest for me, is just a way to learn by practising. So, now that I have made that clear, let me explain what I want to do with this project.</p>
    <p>I would like to create a web where you can make your grocery list and I will help you to safe money by telling you in which supermarket is cheaper to buy each product. </p>    
    <p>As you can see, rigth now this is far from what I am offering, but please, be patient, When everything is implemented, you will be able to choose how many supermarkets are you willing to go, and how far. Then, I will tell you which products to buy in each supermarket. Sounds interesting?</p>    
    <p>I already said that this is a personal project, but I haven't say that I work in this in my free time and I have a family to attend to, so... likely this project is going to go slow, I hope you understand ;)</p>
    <p>If you wnat to know more about me, you can find me in <a href="https://www.linkedin.com/in/carlos-espino-timon/">LinkeIn</a></p>
</div>
